@import '../styles/vars';


.employeeChartItem :global {

    .item_wrapper {
        height: 33px;
        margin: 0 0 17px 0;
    }

    .img_wrapper {
        overflow: hidden;
        width: 33px;
        height: 33px;
        border-radius: 50%;
    }

    .item_img {
        width: 100%;
        height: auto;
    }

    .chartItemInfo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        .info_name {
            color: $color-white;
            line-height: 18px;
        }

        .info_hours {
            line-height: 18px;
        }
    }
}
